


<div *ngIf="weatherCity" class="child">
  <div class="child-1">
    <h1>{{weatherCity.name}}</h1>
    <img src="{{imgUrl}}" alt="">
  </div>
  <div class="child-2">
    <div class="info">
      <div class="info-icon">
        <li><i class="flaticon-description"></i></li>
      </div>
     <div class="info-child">
      <p class="info-child-title">Description</p>
      <p class="info-child-color">{{description}}</p>
     </div>
    </div>

<div class="info">
  <div class="info-icon">
    <li><i class="flaticon-calor"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title">Temp</p>
  <p class="info-child-color">{{term}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon">
    <li><i class="flaticon-caliente"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title">Temp Max</p>
  <p class="info-child-color">{{tempmax}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon">
    <li><i class="flaticon-frio"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title">Temp Min</p>
  <p class="info-child-color">{{temmin}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon">
    <li><i class="flaticon-tejido-que-absorbe-la-humedad"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title">Humedad</p>
  <p class="info-child-color">{{humidity}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon">
    <li><i class="flaticon-barometro"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title">Presion</p>
  <p class="info-child-color">{{pressure}}</p>
 </div>
</div>
</div>
</div>


<div *ngIf="weatherCity" class="child">
  <div class="child-1">
    <h1>{{weatherCity.name}}</h1>
    <img src="{{imgUrl}}" alt="">
  </div>
  <div class="child-2">
    <div class="info">
      <div class="info-icon">
        <li><i class="flaticon-description"></i></li>
      </div>
     <div class="info-child">
      <p class="info-child-title">Description</p>
      <p class="info-child-color">{{description}}</p>
     </div>
    </div>

<div class="info">
  <div class="info-icon">
    <li><i class="flaticon-calor"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title">Temp</p>
  <p class="info-child-color">{{term}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon">
    <li><i class="flaticon-caliente"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title">Temp Max</p>
  <p class="info-child-color">{{tempmax}}</p>
 </div>
</div>
<div class="info">
  <div class="info-icon">
    <li><i class="flaticon-frio"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title">Temp Min</p>
  <p class="info-child-color">{{temmin}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon">
    <li><i class="flaticon-tejido-que-absorbe-la-humedad"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title">Humedad</p>
  <p class="info-child-color">{{humidity}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon">
    <li><i class="flaticon-barometro"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title">Presion</p>
  <p class="info-child-color">{{pressure}}</p>
 </div>
</div>

  </div>
</div>


<div *ngIf="weatherCity" class="child">
  <div class="child-1 colorborder">
    <h1 class="color">{{weatherCity.name}}</h1>
    <img src="{{imgUrl}}" alt="">
  </div>
  <div class="child-2">
    <div class="info">
      <div class="info-icon">
        <li ><i class="flaticon-description color"></i></li>
      </div>
     <div class="info-child">
      <p class="info-child-title color">Description</p>
      <p class="info-child-color">{{description}}</p>
     </div>
    </div>

<div class="info">
  <div class="info-icon">
    <li  ><i class="flaticon-calor color"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title color">Temp</p>
  <p class="info-child-color">{{term}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon">
    <li ><i class="flaticon-caliente color"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title color">Temp Max</p>
  <p class="info-child-color">{{tempmax}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon">
    <li ><i class="flaticon-frio color"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title color">Temp Min</p>
  <p class="info-child-color">{{temmin}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon">
    <li ><i class="flaticon-tejido-que-absorbe-la-humedad color"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title color ">Humedad</p>
  <p class="info-child-color">{{humidity}}</p>
 </div>
</div>

<div class="info">
  <div class="info-icon ">
    <li><i class="flaticon-barometro color"></i></li>
  </div>
 <div class="info-child">
  <p class="info-child-title color">Presion</p>
  <p class="info-child-color">{{pressure}}</p>
 </div>
</div>

  </div>
</div>

