
  <header>
    <nav class="menu-navegation container">
      <div class="logo"  >
          <img src="https://images.squarespace-cdn.com/content/v1/5572b7b4e4b0a20071d407d4/1487090874274-FH2ZNWOTRU90UAF5TA2B/ke17ZwdGBToddI8pDm48kCMWMBFcqQftRz-JqZZoIB5Zw-zPPgdn4jUwVcJE1ZvWEtT5uBSRWt4vQZAgTJucoTqqXjS3CfNDSuuf31e0tVFI99ncPZu898P4WAmVYNBp8mgB1qWbp5RirnU_Xvq-XCb8BodarTVrzIWCp72ioWw/Weather+Targeting" alt="Logo tipo Dashboard">
      </div>
      <div class="link">
        <li class="unhidden" (click)="showSideBar()" [class.underline]="check"><mat-icon>filter_list</mat-icon> </li> 
        <li><fa-icon [icon]="faBookReader"></fa-icon></li> 
        <li><fa-icon [icon]="faMobile"></fa-icon></li> 
      <li><i class="flaticon-settings"></i></li>   
      <li><fa-icon [icon]="faUser"></fa-icon></li> 
      </div>
    </nav>
  </header>
<div class="main">
  <div class="side-bar" [class.changestyle]="check">
    <div class="side-box" [routerLinkActive]="['actived']" >
      <li><i class="flaticon-bogota"></i></li>  
      <div class="side-center">
        <a  [routerLink]="['/bogota']" (click)="showSideBar()"  >
          <span  aria-hidden="true"></span>
          Bogota
        </a>
      </div>
    </div>
       <div class="side-box" [routerLinkActive]="['actived']">
        <li><i class="flaticon-la-ermita"></i></li> 
        <div class="side-center">
          <a  [routerLink]="['/cali']" (click)="showSideBar()" >
            <span aria-hidden="true"></span>
            Cali
          </a>
        </div> 
       </div>
      <div class="side-box" [routerLinkActive]="['actived']">
        <li><i class="flaticon-silletero"></i></li>  
        <div class="side-center">
          <a  [routerLink]="['/medellin']" (click)="showSideBar()">
            <span aria-hidden="true"></span>
            Medellin
          </a>
        </div>
      </div>
      <div class="side-box" [routerLinkActive]="['actived']">
        <li><i class="flaticon-ruana"></i></li> 
        <div class="side-center">
        <a  [routerLink]="['/tunja']" (click)="showSideBar()" >
          <span aria-hidden="true"></span>
          Tunja
        </a>
        </div>
      </div>
       <div class="side-box" [routerLinkActive]="['actived']">
        <li><i class="flaticon-escudo-de-armas"></i></li>  
          <div class="side-center">
           <a  [routerLink]="['/cucuta']" (click)="showSideBar()">
            <span aria-hidden="true"></span>
            Cucuta
          </a>
        </div>
       </div >
       <div class="side-box" [routerLinkActive]="['actived']">
        <li><i class="flaticon-montana"></i></li>  
        <div class="side-center">

          <a  [routerLink]="['/monteria']" (click)="showSideBar()">
            <span aria-hidden="true"></span>
            Monteria
          </a>
        </div>
       </div>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>


  
  
  

